# .gitignore für Produktionssysteme
.vscode/
.github/
.resourcen/
# Ordner, die von Git ignoriert werden sollen
# Diese Dateien und Ordner werden nicht versioniert
backend/tests/
backend/scripts/tests/
backend/venv/
backup/
data/
frontend/tests/
reviews/
tests/

# Ausnahmen für bestimmte Ordner/Dateien
!conf/templates/backup/

# Die folgenden Ordner werden im Zuge des Installationsprozesses erzeugt
# und müssen nicht im Repository enthalten sein (vormals durch .folder.info gesichert)
frontend/css/
frontend/js/
frontend/fonts/
frontend/picture/
frontend/photos/
frontend/photos/originals/
frontend/photos/gallery/
# Dateien die von Git ignoriert werden sollen
# Diese Dateien werden nicht versioniert
fotobox2.code-workspace
