# .gitignore für Produktionssysteme
.vscode/
.github/
.resourcen/
# Ordner, die von Git ignoriert werden sollen
# Diese Dateien und Ordner werden nicht versioniert
backend/tests/
backend/scripts/tests/
backend/venv/
backup/
data/
frontend/tests/
reviews/
# Dateien die von Git ignoriert werden sollen
# Diese Dateien werden nicht versioniert
fotobox2.code-workspace
